<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.mapper.ArticleMapper">
    <insert id="add">
        insert into article(title, content, cover_img, category_id,state, create_user, create_time, update_time) values
        (#{title},#{content},#{coverImg},#{categoryId},#{state},#{createUser},#{createTime},#{updateTime})
    </insert>
    <update id="update">
        update article set title=#{title},content=#{content},cover_img=#{coverImg},state=#{state},category_id=#{categoryId}
        where create_user=#{createUser} and id=#{id};
    </update>
    <delete id="delete">
        delete from article where id=#{id};
    </delete>
    <select id="list" resultType="com.javaweb.entity.Article">
        select * from article
        <where>
            <if test="categoryId!=null ">
                category_id=#{categoryId}
            </if>

            <if test="state!=null and state!=''">
                and state=#{state}
            </if>
            and create_user=#{userId}
        </where>
    </select>
    <select id="detail" resultType="com.javaweb.entity.Article">
        select * from article where id=#{id};
    </select>
    <select id="listByCategoryId" resultType="com.javaweb.entity.Article">
        select * from article where category_id=#{categoryId};
    </select>


</mapper>