<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.javaweb.mapper.CategoryMapper">
    <insert id="add" parameterType="com.javaweb.entity.Category">
        insert into category(category_name,category_alias,create_user,create_time,update_time)
        values(#{categoryName},#{categoryAlias},#{createUser},#{createTime},#{updateTime})
    </insert>
    <update id="update">
        update category set category_name=#{categoryName},category_alias=#{categoryAlias} where id=#{id};
    </update>
    <delete id="del">
        delete from category where id=#{id}
    </delete>
    <select id="list" resultType="com.javaweb.entity.Category">
        select * from category where create_user=#{id}
    </select>
    <select id="detail" resultType="com.javaweb.entity.Category">
        select * from category where id=#{id};
    </select>
</mapper>