<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.mapper.UserMapper">
    <!--插入-->
    <insert id="registerUser" parameterType="com.javaweb.entity.User">
        INSERT into `user`(username,password,create_time,update_time) values (#{username},#{password},#{createTime},#{updateTime})
    </insert>
    <!--修改-->
    <update id="updateUser" parameterType="com.javaweb.entity.User">
        update  `user`
        <set>
            <if test="nickname!=null and ''!= nickname">
                nickname=#{nickname},
            </if>
            <if test="email!=null and ''!= email">
                email=#{email},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateUserPic">
        update user set user_pic=#{picURL},update_time=now() where id=#{id};
    </update>
    <update id="updateUserPwd">
        update user set password=#{newPwd} ,update_time=now() where id=#{id};
    </update>
    <!--根据id查找-->
    <select id="findUserById" resultType="com.javaweb.entity.User" parameterType="java.lang.Integer">
        select * from user where id=#{id}
    </select>
    <!--根据用户名查找-->
    <select id="findUserByUsername" resultType="com.javaweb.entity.User" parameterType="java.lang.String">
        select * from user where username=#{username}
    </select>
</mapper>